<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="securityManager" type="ajayumi.Platform.Core.Security.SecurityManagerSection, ajayumi.Platform.Core.Security"/>
  </configSections>

  <securityManager>
    <crypto enabled="true" key="123456789012" xmlPublicKey="" xmlPrivateKey=""
            providerType="ajayumi.Platform.Core.Security.DESCryptoProvider, ajayumi.Platform.Core.Security" />
  </securityManager>

</configuration>