<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="ajLogger" type="ajayumi.develop.CSharp.Logger.LoggerProviderConfigurationSection,ajayumi.develop.CSharp.Logger" />
  </configSections>

  <appSettings>
    <add key="ServiceName" value="AiXin.Service.SuperSocket" />
    <add key="ServiceDescription" value="AiXin.Service.SuperSocket" />
  </appSettings>

  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=db.sqlite;Version=3;Compress=True;" providerName="System.Data.SQLite" />
    <add name="ConnStr2" connectionString="Data Source=ajayumi.3322.org;port=12012;Initial Catalog=ajTorrentStore;user id=ajTorrentStore;password=ajTorrentStore;pooling=true;Min Pool Size=2;Max Pool Size=10;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <superSocket performanceDataCollectInterval="10" maxWorkingThreads="1024" maxCompletionPortThreads="1024">
    <servers>
      <server name="ChatServerA" serverTypeName="ChatServer" ip="Any" port="33001" maxConnectionNumber="100" maxRequestLength="10485760"></server>

      <server name="ManagementServer" serverType="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager">
        <listeners>
          <add ip="Any" port="33000" />
        </listeners>
        <users>
          <user name="ajayumi" password="123456" />
        </users>
      </server>
    </servers>
    <serverTypes>
      <add name="ChatServer" type="ajayumi.AiXin.Server.Chat.ChatServer, ajayumi.AiXin.Server.Chat" />
    </serverTypes>
  </superSocket>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <ajLogger defaultProvider="Log4net">
    <providers>
      <add name="TextLog" type="ajayumi.develop.CSharp.Logger.TextLoggerProvider,ajayumi.develop.CSharp.Logger" filePath="c:\temp\logger.dat" />
      <add name="Log4net" type="ajayumi.develop.CSharp.Logger.Log4net.Log4netLoggerProvider,ajayumi.develop.CSharp.Logger.Log4net" filePath="/" />
    </providers>
  </ajLogger>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>